.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent{
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex:auto;
}

.tabbar{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  height: 50px;
  color: white;
  border-top-color:#d4d4d4;
  border-top-width: 1px;
  border-style: solid;
}
.optionalTxt{
  display: flex;
  align-items: center;
  justify-content:  center;
  color: #323B43;
  font-size: 14px;
  margin: 10px;
}
