.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent{
  flex: auto;
}

.tabbar{
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex: 0 0 auto;
  height: 50px;
  color: white;
}
