.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appHeader{
  flex: 0 0 auto;
  height: 50px;
  color: white;
  background-color: #35BAA0;
}

.mainContent{
  flex: auto;
}

.appFooter{
  flex: 0 0 auto;
  height: 50px;
  color: white;
  background-color: #35BAA0;
}
